.fadeContainer {
  .fadeElement {
    transition: opacity ease-in-out 0.25s;

    &.fadeOut {
      opacity: 1;
    }

    &.fadeIn {
      opacity: 0;
    }
  }

  &:hover {
    .fadeOut {
      opacity: 0;
    }

    .fadeIn {
      transition-delay: 0.25s;
      opacity: 1;
    }
  }
}
